[package]
name = "evcxr_repl"
version = "0.8.0"
license = "Apache-2.0"
description = "A REPL for Rust"
repository = "https://github.com/google/evcxr"
readme = "README.md"
authors = ["The Evcxr Authors"]
edition = "2018"

[dependencies]
evcxr = { version = "=0.8.0", path = "../evcxr" }
rustyline = "7.1.0"
colored = "2.0.0"
once_cell = "1.5.2"
regex = { version = "1.4.1", default-features = false, features = [ "std" ] }
structopt = "0.3"
unicode-xid = "0.2"
unicode-segmentation = "1.7.1"
