[package]
name = "evcxr_repl"
version = "0.4.2"
license = "Apache-2.0"
description = "A REPL for Rust"
repository = "https://github.com/google/evcxr"
readme = "README.md"
authors = [
    "David Lattimore <dvdlttmr@gmail.com>",
    "Diogo Sousa <diogogsousa@gmail.com>",
]
edition = "2018"

[dependencies]
evcxr = { version = "=0.4.2", path = "../evcxr" }
rustyline = "4.1.0"
colored = "1.8.0"
dirs = "2.0.1"
lazy_static = "1.3.0"
failure = { version = "0.1.5", default-features = false, features = [ "std" ] }
regex = "1.1.2"
